header {
    display: grid;
    grid-template-areas: 
        'walter titulo nicolas';
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
    .titulo {
        grid-area: titulo;
        text-align: center;
    }
    .walter {
        grid-area: walter;
        text-align: center;
    }
    .nicolas {
        grid-area: nicolas;
        text-align: center;
    }
main {
    display: grid;
    grid-template-areas: 
        '. . .'
        'topicos . artigos';
    grid-template-columns: 45vw 5vw 45vw;
    grid-template-rows: 20vh 80vh;
}
    .topicos {
        width: 100%;
        height: 100%;
        grid-area: topicos;
    }
    .artigos {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        grid-area: artigos;
    }
article {
    border: solid 1px black;
    padding: 5px;
}

p {
    font-size: 1.2em;
}

li {
    font-size: 1.2em;
}